<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DoBeBest</title>
    <link href="../css/style.css" rel="stylesheet" typ="text/css">
</head>
<body>
    <div id=main class="main">
        <header class="page-header">
            <h1><a href="main.html">
                <img class="logo" src="../img/logo.png" width="300px" alt="HOME">
            </a></h1>
        <nav>
            <ul class="menuBar">
                <li><a href="notice.html">공지사항</a></li>
                <li>스터디 찾기</li>
                <li>커뮤니티</li>
            </ul>
        </nav>
        <nav>
            <ul class="userBar">
                <li><a href="login">로그인</a></li>
                <li><a href="register.html">회원가입</a></li>
            </ul>
        </nav>
        </header>
    </div>
</body>
</html>