<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DoBeBestNotice</title>
    <link href="../css/noticeEvent.css" rel="stylesheet" typ="text/css">
    <link href="../css/headerAdmin.css" rel="stylesheet" type="text/css">
</head>
<body>
<!-- 여기는 충돌수정 완료~~~~~~~~~~~~~~~~~! -->

    <div th:replace="common/header.html"></div> 
    
    <div th:replace="common/noticeheader.html"></div> 

        <!-- 이벤트 게시판 -->
        <table class="event_list">
            <tr>
                <td>영화 '코딩좋아'시사회 예매권</td>
                <td>30명(1인 2매, 총 60매)</td>
                <td>2022.09.16~2022.09.30</td>            
                <td>
                    <div class="event_image_box">
                        <img class="event_image_thumbnail">
                    </div>
                </td>
            </tr>
            <tr>
                <td>영화 '코딩좋아'시사회 예매권</td>
                <td>30명(1인 2매, 총 60매)</td>
                <td>2022.09.16~2022.09.30</td>            
                <td>
                    <div class="event_image_box">
                        <img class="event_image_thumbnail">
                    </div>
                </td>
            </tr>
            <tr>
                <td>영화 '코딩좋아'시사회 예매권</td>
                <td>30명(1인 2매, 총 60매)</td>
                <td>2022.09.16~2022.09.30</td>            
                <td>
                    <div class="event_image_box">
                        <img class="event_image_thumbnail">
                    </div>
                </td>
            </tr>             
            
        </table>
                

            </tfoot>
        </table>    

    </div>
</body>
</html>