<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DoBeBestNotice</title>
    <link href="../css/noticeEvent.css" rel="stylesheet" typ="text/css">
    <link href="../css/headerAdmin.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div id=main class="main">
        <header class="page-header">
            <h1><a href="main.html">
                <img class="logo" src="../images/logo.png" width="300px" alt="HOME">
            </a></h1>
        <nav>
            <ul class="menuBarAdmin">
                <li><a href="notice.html">공지사항</a></li>
                <li>스터디 찾기</li>
                <li>커뮤니티</li>
                <li>회원관리</li>
            </ul>
        </nav>
        <nav>
            <ul class="userBarAdmin">
                <li><a href="login.html">로그아웃</a></li>
                <li>문의조회</li>
            </ul>
        </nav>
        </header>
    </div>
    <div id=notice_title class="notice_title"> 
    <!-- 이벤트 타이틀 -->
        <ul class="notice_category">
            <li><a href="main.html">공지사항</a></li>
            <li><a href="">이벤트</li>
        </ul>
    </div>

    <form>
        <div id="searchBar" class="searchBar">
                <input id="input" type="search" role="combobox" name="search_title" class="search" placeholder="검색할 내용을 입력하세요."/>
        </div> 
        <div id="searchIcon" class="searchIcon">
            <img class="searchIconTag" src="../image/MagnifyingGlass.png">
        </div>
        <div id="notice_write_box">
        <button class="notice_write_button">글쓰기</button> <hr>
        </div>
    </form>

        <!-- 이벤트 게시판 -->
        <table class="event_list">
            <tr>
                <td>영화 '코딩좋아'시사회 예매권</td>
                <td>30명(1인 2매, 총 60매)</td>
                <td>2022.09.16~2022.09.30</td>            
                <td>
                    <div class="event_image_box">
                        <img class="event_image_thumbnail">
                    </div>
                </td>
            </tr>
            <tr>
                <td>영화 '코딩좋아'시사회 예매권</td>
                <td>30명(1인 2매, 총 60매)</td>
                <td>2022.09.16~2022.09.30</td>            
                <td>
                    <div class="event_image_box">
                        <img class="event_image_thumbnail">
                    </div>
                </td>
            </tr>
            <tr>
                <td>영화 '코딩좋아'시사회 예매권</td>
                <td>30명(1인 2매, 총 60매)</td>
                <td>2022.09.16~2022.09.30</td>            
                <td>
                    <div class="event_image_box">
                        <img class="event_image_thumbnail">
                    </div>
                </td>
            </tr>             
            
        </table>
                

            </tfoot>
        </table>    

    </div>
</body>
</html>