<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DoBeBestNotice</title>
    <link href="../css/noticeMain.css" rel="stylesheet" typ="text/css">
    <link href="../css/headerAdmin.css" rel="stylesheet" type="text/css">
</head>
<body>
<!-- 여기도 충돌수정 완료~~~~~~~~~~~~~~~~~! -->
    <div th:replace="common/header.html"></div> 
    
    <div th:replace="common/noticeheader.html"></div> 

        <!-- 공지사항 게시판 -->
        <table class="notice_list" align="center">
            <thead class="notice_list_head">
                <tr>
                    <th>NO</th>
                    <th>제목</th>   
                    <th>작성자</th>
                    <th>조회수</th>
                </tr>    
            </thead>
            <tbody class="notice_list_body">
                <tr>
                    <td>26</td>
                    <td>[NOTICE] 우수 회원에 대한 안내</td>
                    <td>관리자</td>
                    <td>48</td>
                </tr>
                <tr>
                    <td>26</td>
                    <td>[NOTICE] 우수 회원에 대한 안내</td>
                    <td>관리자</td>
                    <td>48</td>
                </tr>
                <tr>
                    <td>26</td>
                    <td>[NOTICE] 우수 회원에 대한 안내</td>
                    <td>관리자</td>
                    <td>48</td>
                </tr>
                <tr>
                    <td>26</td>
                    <td>[NOTICE] 우수 회원에 대한 안내</td>
                    <td>관리자</td>
                    <td>48</td>
                </tr>
                <tr>
                    <td>26</td>
                    <td>[NOTICE] 우수 회원에 대한 안내</td>
                    <td>관리자</td>
                    <td>48</td>
                </tr>
                <tr>
                    <td>26</td>
                    <td>[NOTICE] 우수 회원에 대한 안내</td>
                    <td>관리자</td>
                    <td>48</td>
                </tr>
            </tbody>
            <tfoot>
                

            </tfoot>
        </table>    

    </div>
</body>
</html>