<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DoBeBest</title>
    <link href="../css/style.css" rel="stylesheet" type="text/css">
    <link href="../css/registNoticeMain.css" rel="stylesheet" type="text/css">
</head>
<body>
   <div th:replace="common/header.html"></div> 
   <div th:replace="common/noticeheaderDetail.html"></div> 

	<form id="registNoticeMain" th:action="@{/admin/updateNoticeMain}" th:method="post">
	        <input type="hidden" name="noticeNo" th:value="${ notice.noticeNo }">
	    <div class="list_insert">
	        <table align="center">
	            <tr>
	                <td class="cont" colspan="5">
	                    <input class="title" type="text" th:value="${ notice.noticeTitle }" name="noticeTitle" required>
	                </td>
	            </tr>
	            <tr>
	                <td class="insert_write" colspan="5">
	                    <textarea cols="130" rows="40" th:value="${ notice.noticeContent }" name="noticeContent" required></textarea>
	                </td>
	            </tr>
	        </table>
	        <div class="write_btn">
	            <button type="submit" class="w_btn">글쓰기</button>
	        </div>
	    </div>
   	</form>
	   		<div class="write_btn">
	   			<button class="c_btn"
		         		th:onclick="|location.href='/admin/noticeMain'|">취소</button>
			</div>
</body>
</html>
