<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DoBeBestUserQnAListAdmin</title>
    <link href="../css/userQnaListAdmin.css" rel="stylesheet" type="text/css">
    <link href="../css/headerAdmin.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div th:replace="common/header.html"></div> 
    <div id="userLookUpAdmin" class="userLookUpAdmin">
    <h1>문의조회</h1>
    </div>
    <form>
        <div id="searchBar" class="searchBar">
                <input id="input" type="search" role="combobox" name="search_title" class="search" placeholder="검색할 내용을 입력하세요."/>
        </div> 
        <div id="searchIcon" class="searchIcon">
            <img class="searchIconTag" src="../image/MagnifyingGlass.png">
        </div>
    </form>
        <!-- 공지사항 게시판 -->
        <table class="admin_QnA_list" align="center">
            <thead class="admin_QnA_list_head">
                <tr>
                    <th>NO</th>
                    <th>제목</th>   
                    <th>작성자</th>
                    <th>진행사항</th>
                </tr>    
            </thead>
            <tbody class="admin_QnA_list_body">
                <tr>
                    <td>10</td>
                    <td>관리자님 질문좀요</td>
                    <td>바보다바보</td>
                    <td class="qnaProgressCompletion">답변완료</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>스터디 팀원 관리 문의드립니다</td>
                    <td>JAVAJA</td>
                    <td class="qnaProgress">미답변</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>스터디 팀원 관리 문의드립니다</td>
                    <td>JAVAJA</td>
                    <td class="qnaProgressCompletion">답변완료</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>스터디 팀원 관리 문의드립니다</td>
                    <td>JAVAJA</td>
                    <td class="qnaProgressCompletion">답변완료</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>스터디 팀원 관리 문의드립니다</td>
                    <td>JAVAJA</td>
                    <td class="qnaProgressCompletion">답변완료</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>스터디 팀원 관리 문의드립니다</td>
                    <td>JAVAJA</td>
                    <td class="qnaProgress">미답변</td>
                </tr>
            </tbody>
            <tfoot>
                

            </tfoot>
        </table>    

    </div>
</body>
</html>