<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head> 
<meta charset="UTF-8">
<title>Insert title here</title>
 <link href="../css/userUpdateAdmin.css" rel="stylesheet" type="text/css">
 <link href="../css/header.css" rel="stylesheet" type="text/css">
 <link href="../css/headerAdmin.css" rel="stylesheet" type="text/css">
 <script type="text/javascript" th:src="@{/js/noticeEvent.js}"></script>
</head>
<body>
 	<div th:replace="common/header.html"></div> 
		<div class="allInfo">
        <img class="userImage" src="../images/free-icon-user-149071.png">    
        <br>
        <form th:action="@{/admin/userUpdateAdmin}" method="post" class="userinfo">
        <input type="hidden" name="memberNo" th:value="${ user.memberNo }">
      
	         	<p class="userinfotext">아이디</p>
	            <td><p th:text="${ user.memberId }"></p></td>
	 
  
	          	<p class="userinfotext">권한</p>
	        	<td><p th:text="${ user.memberGrade }"></p></td>
	
	            <p class="userinfotext">이름</p>
	        	<td><p th:text="${ user.memberName }"></p></td>
	 
	            <p class="userinfotext">생년월일</p>
	        	<td><p th:text="${ user.memberBirth }"></p></td>
	    
	            <p class="userinfotext">닉네임</p>
	            <p class="userinput" type="text" name="memberNickname" th:text="${ user.memberNickname }" required>
	   
	            <p class="userinfotext">주소</p>
	        	<td><p th:text="${ user.memberAddress }"></p></td>
	    
	            <p class="userinfotext">e-mail</p>
	            <td><p th:text="${ user.memberEmail }"></p></td>
	 
	            <p class="userinfotext">핸드폰 번호</p>
	        	<td><p th:text="${ user.memberPhone }"></p></td><br>

        </form>
        <form th:action="@{/admin/userDeleteAdmin}" method="post" class="userinfo">
	        <input type="hidden" name="memberNo" th:value="${ user.memberNo }">
	        <td><p type="hidden" name="memberStatus" th:value="${ user.memberStatus }"></p></td>
        	<input type="submit" value="회원비활성" class="userdeletebtn">
        </form>
				<br>
	            <button class="userdeletebtn"
	            		th:onclick="|location.href='/admin/userListAdmin'|">뒤로가기</button>
        </div>
        


</body>
</html>