<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DoBeBestUserListAdmin</title>
    <link href="../css/userListAdmin.css" rel="stylesheet" typ="text/css">
    <link href="../css/headerAdmin.css" rel="stylesheet" type="text/css">
</head>
<body>
 <div th:replace="common/header.html"></div> 
    <div id="userLookUpAdmin" class="userLookUpAdmin">
    <h1>회원관리</h1>
    </div>
    <!-- 여기도 충돌수정 완료~~~~~~~~~~~~~~~~~! -->

    <div id="searchUser" class="searchUser">
        <select name="searchUserCategory" id="searchUserCategory">
            <option value="user1">이름</option>
            <option value="user2">아이디</option>
            <option value="user3">닉네임</option>
        </select>
        <input id="searchUserBar" type="search" role="combobox" name="searchUserBar" class="searchUserBar"/>
        <button id="searchUserButton" class="searchUserButton">검색</button>
    </div>

    <table class="user_list_admin" align="center">
        <thead class="user_list_head">
            <tr>
                <th>NO</th>
                <th>등급</th>   
                <th>이름</th>   
                <th>아이디</th>
                <th>닉네임</th>
                <th>생년월일</th>
                <th>이메일</th>
                <th>평점</th>
                <th>주소</th>
                <th>탈퇴여부</th>
            </tr>    
        </thead>
        <tbody class="user_list_body">
            <tr th:each="member : ${ userListAdmin }">
                <td th:text="${ member.memberNo }"></td>
                <td th:text="${ member.memberRole }"></td>
                <td th:text="${ member.memberName }"></td>
                <td th:text="${ member.memberId }"></td>
                <td th:text="${ member.memberNickname }"></td>
                <td th:text="${ member.memberBrith }"></td>
                <td th:text="${ member.memberEmail }"></td>
                <td th:text="${ member.memberRating }"></td>
                <td th:text="${ member.memberAddress }"></td>
                <td th:text="${ member.memberStatus }"></td>
            </tr>

        </tbody>
        

    </table>
    
		<!-- 페이징 바 -->
		<div id="paging" align="center" style="margin-top:20px;">

			<th:block th:if="${ searchValue != null }">
				<!-- 맨 앞으로 이동 -->
				<button
					th:onclick="'location.href=\'/admin/userListAdmin?page=' + @{${paging.startPage}} + '&searchValue=' + @{${searchValue}} + '\''">&lt;&lt;</button>

				<!-- 이전 페이지로 이동 -->
				<button
					th:onclick="'location.href=\'/admin/userListAdmin?page=' + @{${paging.currentPage - 1}} + '&searchValue=' + @{${searchValue}} + '\''"
					th:disabled="${ userListAdmin.first }">&lt;</button>

				<!-- 숫자 버튼 -->
				<th:block
					th:each="page : ${ #numbers.sequence(paging.startPage, paging.endPage)}">
					<button
						th:onclick="'location.href=\'/admin/userListAdmin?page=' + @{${page}} + '&searchValue=' + @{${searchValue}} + '\''"
						th:text="${ page }" th:disabled="${ paging.currentPage eq page }">
					</button>
				</th:block>

				<!-- 다음 페이지로 이동 -->
				<button
					th:onclick="'location.href=\'/admin/userListAdmin?page=' + @{${paging.currentPage + 1}} + '&searchValue=' + @{${searchValue}} + '\''"
					th:disabled="${ userListAdmin.last }">></button>

				<!-- 맨 끝으로 이동 -->
				<button
					th:onclick="'location.href=\'/admin/userListAdmin?page=' + @{${paging.endPage}} + '&searchValue=' + @{${searchValue}} + '\''">>></button>

			</th:block>
			
			<!-- 검색값이 없는 경우 -->
			<th:block th:if="${ param.searchValue == null || param.searchValue.isEmpty() }">
				<!-- 맨 앞으로 이동 -->
				<button
					th:onclick="'location.href=\'/admin/userListAdmin?page=' + @{${paging.startPage}} + '\''">&lt;&lt;</button>

				<!-- 이전 페이지로 이동 -->
				<button
					th:onclick="'location.href=\'/admin/userListAdmin?page=' + @{${paging.currentPage - 1}} + '\''"
					th:disabled="${ userListAdmin?.first }">&lt;</button>

				<!-- 숫자 버튼 -->
				<th:block
					th:each="page : ${ #numbers.sequence(paging.startPage, paging.endPage)}">
					<button
						th:onclick="'location.href=\'/admin/userListAdmin?page=' + @{${page}} + '\''"
						th:text="${ page }" th:disabled="${ paging.currentPage eq page }">
					</button>
				</th:block>

				<!-- 다음 페이지로 이동 -->
				<button
					th:onclick="'location.href=\'/admin/userListAdmin?page=' + @{${paging.currentPage + 1}} + '\''"
					th:disabled="${ userListAdmin?.last }">></button>

				<!-- 맨 끝으로 이동 -->
				<button
					th:onclick="'location.href=\'/admin/userListAdmin?page=' + @{${paging.endPage}} + '\''">>></button>
			</th:block>
			
		</div>  
</body>
</html>