<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DoBeBestUserListAdmin</title>
    <link href="../css/userListAdmin.css" rel="stylesheet" typ="text/css">
    <link href="../css/headerAdmin.css" rel="stylesheet" type="text/css">
</head>
<body>
 <div th:replace="common/header.html"></div> 
    <div id="userLookUpAdmin" class="userLookUpAdmin">
    <h1>회원관리</h1>
    </div>
    <!-- 여기도 충돌수정 완료~~~~~~~~~~~~~~~~~! -->

    <div id="searchUser" class="searchUser">
        <select name="searchUserCategory" id="searchUserCategory">
            <option value="user1">이름</option>
            <option value="user2">아이디</option>
            <option value="user3">닉네임</option>
        </select>
        <input id="searchUserBar" type="search" role="combobox" name="searchUserBar" class="searchUserBar"/>
        <button id="searchUserButton" class="searchUserButton">검색</button>
    </div>

    <table class="user_list_admin" align="center">
        <thead class="user_list_head">
            <tr>
                <th>NO</th>
                <th>등급</th>   
                <th>이름</th>   
                <th>아이디</th>
                <th>닉네임</th>
                <th>생년월일</th>
                <th>이메일</th>
                <th>평점</th>
                <th>주소</th>
                <th>탈퇴여부</th>
            </tr>    
        </thead>
        <tbody class="user_list_body">
            <tr>
                <td>1</td>
                <th>💎관리자</th>
                <th>💎관리자</th>
                <th>DOBEST</th>
                <th>두비스트</th>
                <th>1996.01.10</th>
                <th>DOBEST@greedy.com</th>
                <th>-</th>
                <th>-</th>
                <th>N</th>
            </tr>
            <tr>
                <td>2</td>
                <th>일반회원</th>
                <th>홍길동</th>
                <th>hong123</th>
                <th>아빠라부를래</th>
                <th>1443.01.23</th>
                <th>hong123@greedy.com</th>
                <th id="userScore">★★★★☆</th>
                <th>경기도 남양주시 어쩌구저쩌구 무슨동 무슨호</th>
                <th>N</th>
            </tr>
            <tr>
                <td>2</td>
                <th>일반회원</th>
                <th>홍길동</th>
                <th>hong123</th>
                <th>아빠라부를래</th>
                <th>1443.01.23</th>
                <th>hong123@greedy.com</th>
                <th id="userScore">★★★★☆</th>
                <th>경기도 남양주시 어쩌구저쩌구 무슨동 무슨호</th>
                <th>N</th>
            </tr>
            <tr>
                <td>2</td>
                <th>일반회원</th>
                <th>홍길동</th>
                <th>hong123</th>
                <th>아빠라부를래</th>
                <th>1443.01.23</th>
                <th>hong123@greedy.com</th>
                <th id="userScore">★★★★☆</th>
                <th>경기도 남양주시 어쩌구저쩌구 무슨동 무슨호</th>
                <th>N</th>
            </tr>
            <tr>
                <td>2</td>
                <th>일반회원</th>
                <th>홍길동</th>
                <th>hong123</th>
                <th>아빠라부를래</th>
                <th>1443.01.23</th>
                <th>hong123@greedy.com</th>
                <th id="userScore">★★★★☆</th>
                <th>경기도 남양주시 어쩌구저쩌구 무슨동 무슨호</th>
                <th>N</th>
            </tr>
            <tr>
                <td>2</td>
                <th>일반회원</th>
                <th>홍길동</th>
                <th>hong123</th>
                <th>아빠라부를래</th>
                <th>1443.01.23</th>
                <th>hong123@greedy.com</th>
                <th id="userScore">★★★★☆</th>
                <th>경기도 남양주시 어쩌구저쩌구 무슨동 무슨호</th>
                <th>N</th>
            </tr>
            <tr>
                <td>2</td>
                <th>일반회원</th>
                <th>홍길동</th>
                <th>hong123</th>
                <th>아빠라부를래</th>
                <th>1443.01.23</th>
                <th>hong123@greedy.com</th>
                <th id="userScore">★★★★☆</th>
                <th>경기도 남양주시 어쩌구저쩌구 무슨동 무슨호</th>
                <th>N</th>
            </tr>
            <tr>
                <td>2</td>
                <th>일반회원</th>
                <th>홍길동</th>
                <th>hong123</th>
                <th>아빠라부를래</th>
                <th>1443.01.23</th>
                <th>hong123@greedy.com</th>
                <th id="userScore">★★★★☆</th>
                <th>경기도 남양주시 어쩌구저쩌구 무슨동 무슨호</th>
                <th>N</th>
            </tr>


        </tbody>
    </table>
</body>
</html>