<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DoBeBestUserQnAListAdmin</title>
    <link href="../css/userQnaListAdmin.css" rel="stylesheet" type="text/css">
    <link href="../css/headerAdmin.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div th:replace="common/header.html"></div> 
    <div id="userLookUpAdmin" class="userLookUpAdmin">
    <h1>문의조회</h1>
    </div>
    <!-- 여기로 헤더옴ㄱ기기ㅣㅣ~~~~~~~~~~~~~~~~~! -->
        <!-- 공지사항 게시판 -->
        <table class="admin_QnA_list" align="center">
            <thead class="admin_QnA_list_head">
                <tr>
                    <th>NO</th>
                    <th>제목</th>   
                    <th>작성자</th>
                    <th>진행사항</th>
                </tr>    
            </thead>
            <tbody class="admin_QnA_list_body">
                <tr th:each="inquiry : ${ qnaMain }"
                	th:onclick="|location.href='/admin/userQnaDetail?inquiryNo=${inquiry.inquiryNo}'|"
                	style="cursor:pointer;">
                    <td th:text="${ inquiry.inquiryNo }"></td>
                    <td th:text="${ inquiry.inquiryTitle }"></td>
                    <td th:text="${ inquiry.member.memberNickname }"></td>
                    <td class="qnaProgressCompletion" th:text="${ inquiry.inquiryStatusContent }">답변완료</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>스터디 팀원 관리 문의드립니다</td>
                    <td>JAVAJA</td>
                    <td class="qnaProgress">미답변</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>스터디 팀원 관리 문의드립니다</td>
                    <td>JAVAJA</td>
                    <td class="qnaProgressCompletion">답변완료</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>스터디 팀원 관리 문의드립니다</td>
                    <td>JAVAJA</td>
                    <td class="qnaProgressCompletion">답변완료</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>스터디 팀원 관리 문의드립니다</td>
                    <td>JAVAJA</td>
                    <td class="qnaProgressCompletion">답변완료</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>스터디 팀원 관리 문의드립니다</td>
                    <td>JAVAJA</td>
                    <td class="qnaProgress">미답변</td>
                </tr>
            </tbody>
            <tfoot>
                

            </tfoot>
        </table>    

    </div>
</body>
</html>