<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DoBeBest</title>
    <link href="../css/style.css" rel="stylesheet" typ="text/css">
</head>
<body>

    <!-- 상단 메뉴바 & 로고 -->
    <div id=main class="main">
        <header class="page-header">
            <h1><a href="main.html">
                <img class="logo" src="../img/logo.png" width="300px" alt="HOME">
            </a></h1>
        <nav>
            <ul class="menuBar">
                <li><a href="notice.html">공지사항</a></li>
                <li><a href="boder/sutdyList.html"></a>스터디 찾기</li>
                <li>커뮤니티</li>
            </ul>
        </nav>
        <nav>
            <ul class="userBar">
                <li><a href="login.html">로그인</a></li>
                <li>회원가입</li>
            </ul>
        </nav>
        </header>
    </div>
    
<!-- HJY -->
<a onclick="location.href='/study/confirm'">인증 게시판</a>
    <a onclick="location.href='/study/studycalendar'">스터디 일정</a>
    <a onclick="location.href='/study/mycalendar'">나의 출석체크</a>


</body>
</html>