<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DoBeBest</title>
    <link href="../css/style.css" rel="stylesheet" type="text/css">
</head>
<body>

    <div th:replace="common/header.html"></div>
	
	<h1 align="center">메인 페이지</h1>
	
	<div th:replace="common/footer.html"></div>

	<a onclick="location.href='/study/confirm'">인증 게시판</a>
    <a onclick="location.href='/study/studyCalendar'">스터디 일정</a>
    <a onclick="location.href='/study/myCalendar'">나의 출석체크</a>
</body>
</html>