<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>studyCalendar</title>
 <link rel="stylesheet" th:href="@{/css/mypage.css}">
 <link href="../css/header.css" rel="stylesheet" type="text/css">
 <script type="text/javascript" th:src="@{/js/event.js}"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
 <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
 <script>
	    const message = '[[${message}]]';
		message && alert(message);
	 </script>
</head>
<body>

    <div th:replace="common/header.html"></div>
    <div class="infomove">
    	<aside class="sidebar">
    		<span onclick="location.href='/mypage/infomodify'"><img class="userimg1" src="../images/free-icon-profile-3106773.png"><p>회원정보</p></span><br>
    		<span onclick="location.href='/mypage/mystudy'"><img class="userimg1" src="../images/free-icon-book-2931424.png"><p>진행중인 스터디</p></span><br>
    		<span onclick="location.href='/mypage/inquirycheck'"><img class="userimg1" src="../images/free-icon-envelope-4477862.png"><p>1:1 문의하기</p></span><br>
    		<span onclick="location.href='/mypage/myboard'"><img class="userimg1" src="../images/free-icon-billboard-4228907.png"><p>내 게시글</p></span><br>
    		<span onclick="location.href='/mypage/noticecheck'"><img class="userimg1" src="../images/free-icon-school-bell-3471582.png">알림</span><br>
		</aside>
	<div id="user">
   		<button onclick="location.href='/mypage/passwordchange';" class="pwdbtn"><img class="pwdchbtn" src="../images/free-icon-padlock-2575570.png">비밀번호 변경</button>
        <p class="infoname" style="font-size: 30px;"><img class="usericon1" src="../images/free-icon-profile-3106773.png">회원정보</p>
   
        <form th:action="@{/mypage/infoimage}" method="post"  enctype="multipart/form-data">
        
        <div class="image-area">
        	<img style="width: 150px; height: 150px;" 
        	th:src="${ #authentication.principal.memberProfile == null ? '/images/free-icon-user-149071.png' : #authentication.principal.memberProfile.appendThumbnailPath }" 
        	>
		</div>
        <div class="thumbnail-file-area" style="display: none;">
        	<input type="file" name="attachImage" accept="image/gif,image/jpeg,image/png" required>
        </div>
        <div>
        <button type=submit class="infobtn">이미지 등록하기</button>
        </div>
        </form>
       	</th:block>
       	
        <br><br><br>
        <p class="teamscore">팀스터디 평점 : ☆☆☆☆☆</p>
        <br>
        <form class="userinfo" th:action="@{/mypage/infomodify}" method="post">
            <p>아이디</p>
            <input class="userinput" type="text" name="memberEmail" th:value="${ #authentication.principal.memberId }" readonly>
            <br>
            <p>이름</p>
            <input class="userinput" type="text" name="memberEmail" th:value="${ #authentication.principal.memberName }" readonly>
            <br>
            <p>생년월일</p>
            <input class="userinput" type="text" name="memberBirth" th:value="${ #authentication.principal.memberBirth }" readonly>
            <br>
            <p>e-mail</p>
            <input class="userinput" type="text" name="memberEmail" th:value="${ #authentication.principal.memberEmail }" readonly>
            <br>
            <p>닉네임</p>
            <input class="userinput" type="text" name="memberNickname" th:value="${ #authentication.principal.memberNickname }">
            <br>
            <p>우편번호</p>
            <input class="userinput" type="text" name="zipCode" id="zipCode"
             th:value="${ #strings.listSplit(#authentication.principal.memberAddress,'$').size() > 0 ? #strings.listSplit(#authentication.principal.memberAddress,'$')[0] : '' }"
             readonly >
            <input type="button" value="검색" id="searchZipCode">
            <br>
            <p>주소</p>
            <input class="userinput" type="text" name="address1" id="address1"
             th:value="${ #strings.listSplit(#authentication.principal.memberAddress,'$').size() > 1 ? #strings.listSplit(#authentication.principal.memberAddress,'$')[1] : '' }" 
             readonly >
            <br>  
            <p>상세 주소</p>
            <input class="userinput" type="text" name="address2" id="address2" 
             th:value="${ #strings.listSplit(#authentication.principal.memberAddress,'$').size() > 2 ? #strings.listSplit(#authentication.principal.memberAddress,'$')[2] : '' }" 
             >
            <br>
            <div class="userbtn">
            <button type="submit" class="usersavebtn">수정하기</button>
            </div>
            
            <input type="button" value="회원 탈퇴" class="userdeletebtn" id="deleteMember" name="deleteMember">
        	
        	</form>    
        	
   	</div>
   	</div>
      	
      	
    <div th:replace="common/footer.html"></div>

   
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<script>
	
	    const $searchZipCode = document.getElementById("searchZipCode");
	    const $goMain = document.getElementById("goMain");
	
	    $searchZipCode.onclick = function() {
	
	        /* 다음 우편번호 검색 창을 오픈하면서 동작할 콜백 메소드를 포함한 객체를 매개변수로 전달한다. */
	        new daum.Postcode({
	            oncomplete: function(data){
	                /* 팝업에서 검색결과 항목을 클릭했을 시 실행할 코드를 작성하는 부분 */
	                document.getElementById("zipCode").value = data.zonecode;
	                document.getElementById("address1").value = data.address;
	                document.getElementById("address2").focus();
	            }
	        }).open();
	    }
	
	    $goMain.onclick = function() {
	        location.href = "/";
	    }
	
	</script>
	<!-- 사진파일 첨부 부분 -->
	<script>
		(function(){
			// input type file 요소들
		    const fileElements = document.querySelectorAll("[type=file]");
		    // div image_area 요소들
		    const imageArea = document.querySelectorAll(".image-area");
		    // div 클릭 이벤트 발생 시 open 함수 동작
		    imageArea.forEach(item => item.addEventListener('click', open));
		    // change(파일 첨부가 발생하는 상황) 이벤트 발생 시 preview 함수 동작
		    fileElements.forEach(item => item.addEventListener('change', preview));
		    
		    function open() {
		    	const index = Array.from(imageArea).indexOf(this);
		    	fileElements[index].click();
		    }
	
		    function preview(){
		    	const index = Array.from(fileElements).indexOf(this);
		    	console.log(this);
		    	console.log(this.files, this.files[0]);
		        if (this.files && this.files[0]) {
		           const reader = new FileReader();
		           reader.readAsDataURL(this.files[0]);
		           reader.onload = function () {
		        	   if(index === 0){		        		   
		        		   imageArea[index].innerHTML = `<img src='${reader.result}' style='width: 300px; height: 200px;'>`;
		        	   } else {
		        		   imageArea[index].innerHTML = `<img src='${reader.result}' style='width: 120px; height: 100px;'>`;  
		        	   }
		           }
		       }
		    }
		})();
	</script>
</body>
</html>