<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
  <link href="../css/mypage.css" rel="stylesheet" type="text/css">
</head>
<body>
 <div id=main class="main">
        <header class="page-header">
            <h1><a href="main.html">
                <img class="logo" src="../images/logo.png" width="300px" alt="HOME">
            </a></h1>
        <nav>
            <ul class="menuBar">
                <li><a href="notice.html">공지사항</a></li>
                <li>스터디 찾기</li>
                <li>커뮤니티</li>
            </ul>
        </nav>
        <nav>
            <ul class="userBar">
                <li>로그아웃</li>
            </ul>
        </nav>
        </header>
    </div>
    <br><br><br><br><br><br>
    <div class="content">
        <div class="inqbox">
            <p class="qu">질문></p>
            <div class="writername">
            <p><img class="writerimg" src="../images/free-icon-user-149071.png">작성자이름</p>
            </div>
            <p>제목글</p> 
            <p>날짜 / 조회수</p>
            <hr>
        </div>
        <div class="inqubtn">
            <button class="inqchange">수정</button>
            <button class="inqdelete">삭제</button>
        </div>
        <div class="inqbox1">
            <div class="responseId">
            <p>관리자아이디</p>
            </div>
            <p class="qu">답변></p> 
            <hr>
        </div>
    </div>
</body>
</body>
</html>