 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
 <link href="../css/mypage.css" rel="stylesheet" type="text/css">
 <link href="../css/header.css" rel="stylesheet" type="text/css">
 <script type="text/javascript" th:src="@{/js/passwordchange.js}"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
 <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
 <script>
	    const message = '[[${message}]]';
		message && alert(message);
</script>
</head>
<body>
  <div th:replace="common/header.html"></div> 
    <br><br><br><br><br><br>
    <hr>   
    <div class="content">
    <h3 class="text1">변경하실 비밀번호를 입력해주세요.</h3><br>
    <form class="changepwd">
    
    	<!-- <p class="pwdfont3">아이디</p>
        <input type="text" id="id" name="id" style="width:450px; height:30px"><br> -->
        <p class="pwdfont1">현재 비밀번호</p>
        <input type="password" id="pwd" name="pwd" style="width:450px; height:30px"><br>
        <span class="" style="font-size: 15px;">8~16자리 영문,숫자,특수문자를 혼합해주세요.</span><br>
        <p class="pwdfont2">새 비밀번호</p>
        <input type="password" id="pwd2" name="pwd2" style="width:450px; height:30px"><br>
        <p class="pwdfont3">새 비밀번호 확인</p>
        <input type="password" id="pwd3" name="pwd3" style="width:450px; height:30px"><br>
        <input type="button" value="비밀번호 변경" class="changebtn" onclick="updatePwd()"/>
        
    </form>
    <br>
    </div>
</body>
</html>