<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
 <link href="../css/mypage.css" rel="stylesheet" type="text/css">
 <link href="../css/header.css" rel="stylesheet" type="text/css">
</head>
<body>
 <div th:replace="common/header.html"></div> 
    <br><br><br><br><br><br>
    <hr>
    <div class="content">
        <div class="pwdbox" >
        <h2 class="text_pwdcheck">비밀번호 확인</h2>
        <hr>
        <p class="text_pwdcheck1">고개님의 개인정보를 보호하기 위해 비밀번호를 다시 한번 입력해주세요</p>
        <br><br>
        <p style="margin-left:90px; font-size: 25px;">아이디 : </p>
        <br><br><br>
        <label class="text_pwdcheck2" style="margin-left: 90px; margin-bottom: 20px; font-size: 25px;">패스워드</label> 
        <input class="pwd_checkblock" name="passwprd" type="password">
            <div class="pwdcheckmovebtn">
            <button class="pwdcheckbtn">확인</button> 
            </div>
        </div>
    </div>
</body>
</html>