<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
 <link href="../css/mypage.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div id=main class="main">
        <header class="page-header">
            <h1><a href="main.html">
                <img class="logo" src="../images/logo.png" width="300px" alt="HOME">
            </a></h1>
        <nav>
            <ul class="menuBar">
                <li><a href="notice.html">공지사항</a></li>
                <li>스터디 찾기</li>
                <li>커뮤니티</li>
            </ul>
        </nav>
        <nav>
            <ul class="userBar">
                <li>로그아웃</li>
            </ul>
        </nav>
        </header>
    </div>
    <br><br><br><br><br><br>
    <hr>   
    <div class="content">
    <h3 class="text1">변경하실 비밀번호를 입력해주세요.</h3><br>
    <form class="changepwd">
        <p class="pwdfont1">현재 비밀번호</p>
        <input type="password" name="cpwd" style="width:450px; height:30px" >
        <p class="pwdfont2">새 비밀번호</p>
        <input type="password" name="npwd" style="width:450px; height:30px">
        <p class="pwdfont3">새 비밀번호 확인</p>
        <input type="password" name="renpwd" style="width:450px; height:30px">
    </form>
    <br>
        <div class="movebtn">
        <button class="changebtn" onclick="confirm('비밀번호를 변경하시겠습니까?')">비밀번호 변경</button>
        </div>
    </div>
</body>
</html>