<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DoBeBest</title>
    <link href="../css/style.css" rel="stylesheet" type="text/css">
    <link href="../css/study_list.css" rel="stylesheet" type="text/css">
</head>
<body>
    <!-- 상단 메뉴바 & 로고 -->
    <div id=main class="main">
        <header class="page-header">
            <h1><a href="main.html">
                <img class="logo" src="../images/logo.png" width="300px" alt="HOME">
            </a></h1>
        <nav>
            <ul class="menuBar">
                <li><a href="notice.html">공지사항</a></li>
                <li><a href="studylist.html">스터디 찾기</a></li>
                <li>커뮤니티</li>
            </ul>
        </nav>
        <nav>
            <ul class="userBar">
                <li><a href="login.html">로그인</a></li>
                <li>회원가입</li>
            </ul>
        </nav>
        </header>
    </div>

    <!-- 게시판 타이틀 -->
    <div id=study_title class="study_title"> 
    <h3>스터디 목록</h3>
    
        <!-- 카테고리 -->
        <div class="category">
            <select class="select01">
                <option>카테고리</option>
                <option>어학</option>
                <option>IT</option>
                <option>자격증</option>
                <option>운동</option>
                <option>취미</option>
                <option>기타</option>
            </select>
            <select class="select02">
                <option>카테고리</option>
                <option>어학</option>
                <option>IT</option>
                <option>자격증</option>
                <option>운동</option>
                <option>취미</option>
                <option>기타</option>
            </select>
        </div>
    </div>
        <!-- 게시판 -->
        
        <table class="study_list" align="center">
            <thead class="list_head">
                <tr>
                    <th>no</th>
                    <th>카테고리</th>
                    <th class="txt_pink">카테고리</th>
                    <th>스터디이름</th>
                    <th>모집인원</th>
                    <th>마감일자</th>
                    <th>현황</th>
                </tr>
            </thead>
            <tbody class="list_body">
                <tr>
                    <td>10</td>
                    <td>어학</td>
                    <td class="txt_pink">영어</td>
                    <td>[종로]퇴근하고 같이 영어 공부 하실분들! </td>
                    <td>4</td>
                    <td>22.09.19</td>
                    <td class="recruitbtn"><span>모집중</span></a></td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>운동</td>
                    <td class="txt_pink">달리기</td>
                    <td>[강서구]평일 같이 런데이 하실분들 😎 </td>
                    <td>5</td>
                    <td>22.10.30</td>
                    <td class="gobtn"><span>진행중</span></a></td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>자격증</td>
                    <td class="txt_pink">공인중개사</td>
                    <td>[온라인] 매일매일 공부해요! 공인중개사 준비!!! </td>
                    <td>4</td>
                    <td>22.08.30</td>
                    <td class="endbtn"><span>종료</span></a></td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>어학</td>
                    <td class="txt_pink">영어</td>
                    <td>[종로]퇴근하고 같이 영어 공부 하실분들! </td>
                    <td>4</td>
                    <td>22.09.19</td>
                    <td class="recruitbtn"><span>모집중</span></a></td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>운동</td>
                    <td class="txt_pink">달리기</td>
                    <td>[강서구]평일 같이 런데이 하실분들 😎 </td>
                    <td>5</td>
                    <td>22.10.30</td>
                    <td class="gobtn"><span>진행중</span></a></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>자격증</td>
                    <td class="txt_pink">공인중개사</td>
                    <td>[온라인] 매일매일 공부해요! 공인중개사 준비!!! </td>
                    <td>4</td>
                    <td>22.08.30</td>
                    <td class="endbtn"><span>종료</span></a></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>어학</td>
                    <td class="txt_pink">영어</td>
                    <td>[종로]퇴근하고 같이 영어 공부 하실분들! </td>
                    <td>4</td>
                    <td>22.09.19</td>
                    <td class="recruitbtn"><span>모집중</span></a></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>운동</td>
                    <td class="txt_pink">달리기</td>
                    <td>[강서구]평일 같이 런데이 하실분들 😎 </td>
                    <td>5</td>
                    <td>22.10.30</td>
                    <td class="gobtn"><span>진행중</span></a></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>자격증</td>
                    <td class="txt_pink">공인중개사</td>
                    <td>[온라인] 매일매일 공부해요! 공인중개사 준비!!! </td>
                    <td>4</td>
                    <td>22.08.30</td>
                    <td class="endbtn"><span>종료</span></a></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>자격증</td>
                    <td class="txt_pink">공인중개사</td>
                    <td>[온라인] 매일매일 공부해요! 공인중개사 준비!!! </td>
                    <td>4</td>
                    <td>22.08.30</td>
                    <td class="endbtn"><span>종료</span></a></td>
                </tr>
            </tbody>

            <!-- 페이징처리 -->
            <tfoot class="list_foot">
                <tr>
                    <td colspan="6">
                        <span class="arrow radius-right">≪</span>
                        <span class="arrow radius-left">＜</span>
                        
                        <a href="javascript:;" class="num_box txt_point">1</a>
                        <a href="javascript:;" class="num_box ">2</a>
                        <a href="javascript:;" class="num_box ">3</a>
                        <a href="javascript:;" class="num_box ">4</a>
                        <a href="javascript:;" class="num_box ">5</a>
                        <a href="javascript:;" class="num_box ">6</a>
                        <a href="javascript:;" class="num_box ">7</a>
                        <a href="javascript:;" class="num_box ">8</a>
                        <a href="javascript:;" class="num_box ">9</a>
                        <a href="javascript:;" class="num_box ">10</a>

                        <span class="arrow radius-right">＞</span>
                        <span class="arrow radius-left">≫</span>
                    </td>
                    <td>     
                        <button class="list_write_btn"
                        th:onclick="'location.href=\'/studyWrite\''">모집하기</button>
                    </td>
                </tr>    
            </tfoot>
        </table>  
        <div class="search">
            <input type="search" class="searchbar">
            <button class="search_btn">검색</button>
        </div>

</body>
</html>