<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DoBeBest</title>
    <link href="../css/style.css" rel="stylesheet" type="text/css">
    <link href="../css/study_list.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div th:replace="common/header.html"></div> 

    <!-- 게시판 타이틀 -->
    <div id=study_title class="study_title"> 
    <h3>스터디 목록</h3>
    
        <!-- 카테고리 -->
        <div class="category">
            <select class="select01">
                <option>카테고리</option>
                <option>어학</option>
                <option>IT</option>
                <option>자격증</option>
                <option>운동</option>
                <option>취미</option>
                <option>기타</option>
            </select>
            <select class="select02">
                <option>카테고리</option>
                <option>어학</option>
                <option>IT</option>
                <option>자격증</option>
                <option>운동</option>
                <option>취미</option>
                <option>기타</option>
            </select>
        </div>
    </div>
        <!-- 게시판 -->
        
        <table class="study_list" >
            <thead class="list_head">
                <tr>
                    <th>no</th>
                    <th>카테고리</th>
                    <th class="txt_pink">카테고리</th>
                    <th>스터디이름</th>
                    <th>모집인원</th>
                    <th>마감일자</th>
                    <th>모집현황</th>
                </tr>
            </thead>
            <tbody class="list_body">
				<tr th:each="board : ${ studyList }"
				     style="cursor:pointer;">
                    <td th:text="${ board.studyBoardNo }"></td>
                    <td th:text="${ board.studyCategory.studyRefId }"></td>
                    <td class="txt_pink" th:text="${ board.studyCategory.studyCaName }"></td>
                    <td th:text="${ board.studyTitle }"></td>
                    <td th:text="${ board.recruits }"></td>
                    <td th:text="${ board.closingDate }"></td>
                    <td th:text="${ board.studyCondition }"></td>
                </tr>
              
            </tbody>

            <!-- 페이징처리 -->
            <tfoot class="list_foot">
                <tr>
                    <td colspan="6">
                        <span class="arrow radius-right">≪</span>
                        <span class="arrow radius-left">＜</span>
                        
                        <a href="javascript:;" class="num_box txt_point">1</a>
                        <a href="javascript:;" class="num_box ">2</a>
                        <a href="javascript:;" class="num_box ">3</a>
                        <a href="javascript:;" class="num_box ">4</a>
                        <a href="javascript:;" class="num_box ">5</a>
                        <a href="javascript:;" class="num_box ">6</a>
                        <a href="javascript:;" class="num_box ">7</a>
                        <a href="javascript:;" class="num_box ">8</a>
                        <a href="javascript:;" class="num_box ">9</a>
                        <a href="javascript:;" class="num_box ">10</a>

                        <span class="arrow radius-right">＞</span>
                        <span class="arrow radius-left">≫</span>
                    </td>
                    <td>     
                        <button class="list_write_btn"
                        th:onclick="'location.href=\'studyWrite\''">모집하기</button>
                    </td>
                </tr>    
            </tfoot>
        </table>  
        <div class="search">
            <input type="search" class="searchbar">
            <button class="search_btn">검색</button>
        </div>

</body>
</html>