<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DoBeBest</title>
    <link href="../css/style.css" rel="stylesheet" type="text/css">
    <link href="../css/study_write.css" rel="stylesheet" type="text/css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
	<script type="text/javascript" th:srec="@{js/studyBoard.js}"></script>
</head>
<body>
   <div th:replace="common/header.html"></div> 
	

    <!-- 타이틀 -->
    <div id=study_write_title class="study_write_title"> 
        <h1>스터디 그룹 모집하기</h1>
    </div>

    <div class="list_insert">
    	<form id="studyWriteForm" th:action="@{/board/studyWrite}" method="post">
        <table align="center">
            <tr>
                <td class="insert_title">
                    <span>글 제목</span>
                </td>
                <td class="cont" colspan="3">
                    <input class="title" type="text" placeholder="제목을 입력하세요." name="studyTitle">
                </td>
            </tr>
                <tr>
                <td class="insert_title">
                    <span>스터디 명</span>
                </td>
                <td class="cont" colspan="3">
                    <input class="title" type="text" placeholder="스터디 그룹 명을 입력하세요." name="studyName">
                </td>
            </tr>
            <tr>
                <td class="insert_title">
                    <span>카테고리</span>
                </td>
                <td class="cont" colspan="3">
                   <div>
						<select onchange="categoryChange(this)" name="category.studyCategory">
							<option>카테고리를 선택하세요.</option>
							<option value="어학">어학</option>
							<option value="IT">IT</option>
							<option value="자격증">자격증</option>
							<option value="취미">취미</option>
						</select>
                   </div>   
                </td>
            </tr>
            <tr>
                <td class="insert_title">
                    <span>카테고리</span>
                </td>
                <td class="cont" colspan="3">
                    <select id="good" name="category.studyCaName">
						<option>카테고리를 선택하세요.</option>
					</select> 
                </td>
            </tr>

            <tr>
                <td class="insert_title">
                    <span>태그</span>
                </td>
                <td class="cont" colspan="3">
                    <input class="title" type="text" name="studyTag">
                </td>
            </tr>
            <tr>
                <th width="130px" class="title"> 모집 마감일자 </th>
                <td>
                	<input class="calender" type="date" name="closingDate">
                </td>
            </tr>
            <tr>
                <td class="insert_title">
                    <span>목표 진행일수</span>
                </td>
                <td class="cont" colspan="3">
               		<input class="title" type="text" placeholder="목표 진행일수를 입력하세요." name="targetDay">
                </td>
            </tr>
            <tr>
                <th width="130px" class="title"> 스터디 시작일 </th>
                <td>
                	<input class="calender" type="date" name="studyStartDate">
                </td>
            </tr>
            <tr>
                <th width="130px" class="title"> 스터디 종료일 </th>
                <td>
                	<input class="calender" type="date" name="studyEndDate">
                </td>
            </tr>
            <tr>
                <td class="insert_title">
                    <span>모집인원</span>
                </td>
                <td class="cont" colspan="3">
                    <input class="title" type="text" placeholder="스터디 그룹 인원을 입력하세요." name="recruits">
                </td>
            </tr>
            <tr>
                <td class="insert_title">
                    <span>장소</span>
                </td>
                <td class="cont" colspan="3">
                    <input class="title" type="text" placeholder="스터디 진행 장소를 입력하세요." name="studyPlace">
                </td>
            </tr>
              <tr>
                <td class="insert_title">
                    <span>진행상태</span>
                </td>
                <td class="cont" colspan="3">
                    <select class="select03" name="studyCondition">
                        <option>모집중</option>
                        <option>진행중</option>
                        <option>종료</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="info_title">
                    <span>스터디 소개글</span>
                </td>
            </tr>
            <tr>
                <td class="insert_write" colspan="5">
                    <textarea cols="130" rows="20" placeholder="내용을 입력하세요." name="studyContent"></textarea>
                </td>
            </tr>
        </table>
        
		<script>
		function categoryChange(e) {
			const good_어학 = ["영어", "중국어", "일본어", "독일어", "러시아어", "스페인어", "이탈리아어", "프랑스어", "라틴어", "포르투갈어", "아랍어", "기타"];
			const good_IT = ["Java", "Python", "XML", "PHP", "C/C++", "JSP", "ASP", "웹디자인", "영상", "오피스", "모바일", "OS", "기타"];
			const good_자격증 = ["간호/조무사", "회계", "영양사", "제과제빵", "공무원", "한국사", "공인중개사", "주택관리사", "한자", "IT", "편입", "검정고시", "디자인", "상담", "기타"];
			const good_취미 = ["운동", "만들기", "동네", "캠핑", "등산", "반려동물", "맛집", "기타"];
			const target = document.getElementById("good");
		
			if(e.value == "어학") var d = good_어학;
			else if(e.value == "IT") var d = good_IT;
			else if(e.value == "자격증") var d = good_자격증;
			else if(e.value == "취미") var d = good_취미;
			
			target.options.
			length = 0;
		
			for (x in d) {
				var opt = document.createElement("option");
				opt.value = d[x];
				opt.innerHTML = d[x];
				target.appendChild(opt);
			}
		}
		</script>
		            
        
        <div class="write_btn">
            <button class="w_btn" type="submit"
            		style="cursor:pointer;">글쓰기</button>
            <button class="c_btn" type="button"
            	style="cursor:pointer;"
            	th:onclick="'location.href=\'/board/studyList\''">취소</button>
        </div>
        </form>
    </div>
</body>
</html>