<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>certified</title>
    <link rel="stylesheet" href="../../static/css/hjy/certified.css">
</head>
<body>

        <div class="certified">
            <span>인증하기</span>
        </div>
        <form class="certified-form" action="confirm.html">
            <hr>
            <input class="real-upload" type="file" accept="image/*">
            <div class="upload">사진 첨부</div>
            <input id="cerified-content" type="text" placeholder="내용을 입력하세요">
            <div>
                <button id="certified">글쓰기</button>
                <button id="cancel">취소</button>
            </div>
        </form>

    <script src="../../static/js/hjy/certified.js"></script>
</body>
</html>