<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>certified</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/certified.css}">
</head>
<body>
    <a onclick="location.href='/study/confirm'">인증 게시판</a>
    <a onclick="location.href='/study/studycalendar'">스터디 일정</a>
    <a onclick="location.href='/study/mycalendar'">나의 출석체크</a>

        <div class="certified">
            <span>인증하기</span>
        </div>
        <form class="certified-form" action="confirm.html">
            <hr>
            <input class="real-upload" type="file" accept="image/*">
            <div class="upload">사진 첨부</div>
            <input id="cerified-content" type="text" placeholder="내용을 입력하세요">
            <div>
                <button id="certified">글쓰기</button>
                <button id="cancel">취소</button>
            </div>
        </form>

    <script src="/js/certified.js"></script>
</body>
</html>