<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>confirm</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/confirm.css}">
</head>
<body>
   <div th:replace="common/header.html"></div>
	
	<div class="confirmBody">
    	<aside class="sidebar">
  			<!-- <span id="moveCertified">인증 게시판</span><br> -->
    		<span id="SCalendar">스터디 일정</span><br>
    		<!-- <span id="MCalendar">나의 출석체크</span> -->
		</aside>
		<div class="certified">
			<div class="confirm-content">
				<div>
				    <p align="center">인증 게시판</p>
				    <h5> 자바의 정석 Collection 11-6 ~ 11-12 까지 공부하고 인증하기</h5>
				</div>
				
	    		<button class="confirm-btn" onclick="location.href='/study/certified'">인증 하기</button>
	    	</div>
	    	
	    	<div style="overflow:auto; width:900px; height:500px;">
	    	<h1>인증 게시물입니다. ㅎㅎ</h1>
	    	<h1>인증 게시물입니다. ㅎㅎ</h1>
	    	<h1>인증 게시물입니다. ㅎㅎ</h1>
	    	<h1>인증 게시물입니다. ㅎㅎ</h1>
	    	<h1>인증 게시물입니다. ㅎㅎ</h1>
	    	<h1>인증 게시물입니다. ㅎㅎ</h1>
	    	<h1>인증 게시물입니다. ㅎㅎ</h1>
	    	<h1>인증 게시물입니다. ㅎㅎ</h1>
	    	<h1>인증 게시물입니다. ㅎㅎ</h1>
	    	<h1>인증 게시물입니다. ㅎㅎ</h1>
	    	<h1>인증 게시물입니다. ㅎㅎ</h1>
	    	<h1>인증 게시물입니다. ㅎㅎ</h1>
	    	<h1>인증 게시물입니다. ㅎㅎ</h1>
	    	<h1>인증 게시물입니다. ㅎㅎ</h1>
	    	<h1>인증 게시물입니다. ㅎㅎ</h1>
	    	<h1>인증 게시물입니다. ㅎㅎ</h1>
	    	<h1>인증 게시물입니다. ㅎㅎ</h1>
	    	<h1>인증 게시물입니다. ㅎㅎ</h1>
	    	<h1>인증 게시물입니다. ㅎㅎ</h1>
	    	<h1>인증 게시물입니다. ㅎㅎ</h1>
	    	<h1>인증 게시물입니다. ㅎㅎ</h1>
	    	<h1>인증 게시물입니다. ㅎㅎ</h1>
	    	<h1>인증 게시물입니다. ㅎㅎ</h1>
	    	<h1>인증 게시물입니다. ㅎㅎ</h1>
			</div>
		</div>
    
    </div>
    
    <div th:replace="common/footer.html"></div>
          	
    <script src="/js/confirm.js"></script>
        <script th:inline="javascript">
        
    	const urlParams = new URL(location.href).searchParams;
    	
    	const studyNo = urlParams.get('studyNo');
    
	document.querySelector('#SCalendar').addEventListener('click', ()=> {
		
		location.href=`studyCalendar?studyNo=${studyNo}`;
		
	});
	
	document.querySelector('#MCalendar').addEventListener('click', ()=> {
		
		location.href=`myCalendar?studyNo=${studyNo}`;
		
	});
	
	document.querySelector('#moveCertified').addEventListener('click', ()=> {
		
		location.href=`confirm?studyNo=${studyNo}`;
		
	});
    
    </script>
</body>
</html>