<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>stopwatch</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/stopwatch.css}">
</head>
<body>
    <a onclick="location.href='/study/confirm'">인증 게시판</a>
    <a onclick="location.href='/study/studycalendar'">스터디 일정</a>
    <a onclick="location.href='/study/mycalendar'">나의 출석체크</a>

        <h1 align="center">공부 타이머</h1>
    <div class="stopwatch">
        <h5>2022.02.22</h5>
        <div id="stopwatch-button">
            <button class="pause">일시정지</button>
            <button class="cancel" oncl1ick="location.href='studycalendar.html'">뒤로가기</button>
        </div>
    </div>

    <script src="/js/stopwath.js"></script>
</body>
</html>