<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>stopwatch</title>
<link rel="stylesheet" href="../../static/css/hjy/stopwatch.css">
</head>
<body>
        <h1 align="center">공부 타이머</h1>
    <div class="stopwatch">
        <h5>2022.02.22</h5>
        <div id="stopwatch-button">
            <button class="pause">일시정지</button>
            <button class="cancel" oncl1ick="location.href='studycalendar.html'">뒤로가기</button>
        </div>
    </div>

    <script src="../../static/js/hjy/stopwath.js"></script>
</body>
</html>