<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>studycalendar</title>
<link rel="stylesheet" href="../../static/css/hjy/studycalendar.css">
</head>
<body>
    <div>
        <table>
          <thead>
            <tr><th data-selected="full-date" colspan="7"></th></tr>
            <tr>
               <th>일</th>
               <th>월</th>
               <th>화</th>
               <th>수</th>
               <th>목</th>
               <th>금</th>
               <th>토</th>
            </tr>
          </thead>
          <tdata>
            <tr>
            </tr>
           
          </tdata>
        </table>
        <div class="actions">
        <div class="next-button" onclick="changeMonth('prev')"><</div>
        <div class="prev-button" onclick="changeMonth('next')">></div> 
        </div>
        <div class="actions-2">
        <div onclick="changeMonth('prev')">prev</div>
        <div onclick="changeMonth('next')">next</div> 
        </div>
      </div>
      <script src="../../static/js/hjy/studycalendar.js"></script>
</body>
</html>