<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>todoList</title>
<link rel="stylesheet" th:href="@{/css/todoList.css}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>

    <!-- 팝업창으로 생성 -->

    <h1 align="center">Todo List 조회</h1>

    <h th:text="${ todoList.todoListStartDate }"></h>
    
    <div class="todo-form">

		<th:block th:if="${ todoList.todoListSort == 'C' || todoList.todoListSort == 'SC'}">
		<div id="certified-form">
			<p>인증 조건</p>
			<p th:text="${ todoList.certified.certifiedExplain }"></p>
		</div>
		</th:block>
		
		<th:block th:if="${ todoList.todoListSort == 'S' || todoList.todoListSort == 'SC'}">
		<div id="stopwatch-form">
		<p th:text="${ todoList.stopwatch.stopwatchTime }"></p>
		</div>
		</th:block>		
				

		<button id="stopwatch">스톱워치</button>
		<button id="todoModify-btn">수정 하기</button>
		<p id="startDate" th:text="${ todoList.todoListStartDate }" style="display:none;"></p>
		<p id="todoListId" th:text="${ todoList.todoListId }" style="display:none;"></p>		
	</div>


    <script th:inline="javascript">
    
    const urlParams = new URL(location.href).searchParams;
	
    const studyNo = urlParams.get('studyNo');
    const date = urlParams.get('todoListStartDate');
    const todoListId = document.querySelector('#todoListId').textContent;
    
    const todoListStartDate = document.querySelector('#todoModify-btn');

    todoListStartDate.addEventListener('click', () => {
      location.href = `todoModify?todoListId=${todoListId}&todoListStartDate=${date}&studyNo=${studyNo}`;	
    });

    const stopwatchPlay = document.querySelector('#stopwatch').addEventListener('click', ()=> {
    	location.href = `stopwatch?todoListId=${todoListId}`
    });
    
    </script>
    
</body>
</html>