<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>todoListModify</title>
<link rel="stylesheet" th:href="@{/css/todoModify.css}">
<link href="../../static/css/todolist.css" rel="stylesheet" type="text/css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>

    <!-- 팝업창으로 생성 -->
	
    <h1 align="center">Todo List 등록/수정</h1>

    <h></h>
	<p>2022-22-22</p>
    
    <div class="todo-form">


		<div id="certified-form">
			<p>인증 조건</p>
			<p></p>
		</div>
		
		<div id="stopwatch-form">
		<p ></p>
		</div>

		<button>스톱워치</button>

		
	</div>

    <script src="/js/todoModify.js"></script>
    
</body>
</html>