<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>todoList</title>
<link rel="stylesheet" th:href="@{/css/todoList.css}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>

    <!-- 팝업창으로 생성 -->

	<th:block th:if="${ todoList.todoListSort != 'N' }">
    <h1 align="center">Todo List 조회</h1>

    <h5 th:text="${ todoList.todoListStartDate }"></h5>
    
    <div class="todo-form">

		<th:block th:if="${ todoList.todoListSort == 'C' || todoList.todoListSort == 'SC'}">
		<div id="certified-form">
			<p>인증 조건</p>
			<p th:text="${ todoList.certified.certifiedExplain }"></p>
		</div>
		</th:block>
		
		<th:block th:if="${ todoList.todoListSort == 'S' || todoList.todoListSort == 'SC'}">
		<div id="stopwatch-form">
		<p th:text="${ todoList.stopwatch.stopwatchTime }"></p>
		</div>
		</th:block>		
				
		<th:block th:if="${ role.studyRole == 'MEMBER' }">
				<button id="stopwatch">스톱워치</button>
		</th:block>
			<br>
		<th:block th:if="${ role.studyRole != 'MEMBER' }">
				<button id="todoModify-btn">수정 하기</button>
				<button id="delete-btn">삭제하기</button>
		</th:block>
	
		<p id="startDate" th:text="${ todoList.todoListStartDate }" style="display:none;"></p>
		<p id="todoListId" th:text="${ todoList.todoListId }" style="display:none;"></p>		
	</div>
	<script src="/js/todoList.js"></script>
	</th:block>
	
		<th:block th:unless="${ todoList.todoListSort != 'N' }">
	<p id="todoListId" th:text="${ todoList.todoListId }" style="display:none;"></p>
	<h1>todoList를 생성해 주세요</h1>
	<th:block th:if="${ role.studyRole == 'LEADER' }">
		<button id="regist">생성하기</button>
	</th:block>
		<script src="/js/todoRegist.js"></script>
		</th:block>
    
</body>
</html>