<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>todoset</title>
</head>
<body>
   
    <!-- 팝업창으로 생성 -->

    <h1 align="center">Todo List 설정하기</h1>

    <h5>2020.20.20</h5>

    <form class="todoSet" action="studycalendar.html">      
        <div>
            <input class="certified" type="checkbox" name="certified-check" checked >
            <label>인증하기</label>
            <input class="certified-condition" name="certified-condition" type="text" placeholder="내용 작성">
        </div>
            <br>
            <input type="checkbox" id="stopwatch" checked>
            <label>스톱워치</label>
            <label>시간</label>
        <button type="submit" id="todoRegist" >등록 하기</button>
    </form>
    
</body>
</html>