/*헤더 시작*/
html{
    font-size: 100%;
    
}

.main{
    display: flex;
    background-color:#E97486; /*너비 체크용. 확인만 하시고 작업시 지워주세요*/
    width: 1200px;
    margin: 0 auto;
}

.page-header{
    display: flex;
    
}

body {
    width: 1200px;
    margin:auto;
}
.HOME{

}

.logo{
    display: flex;
    position:absolute;
    
}

.menuBar{
    list-style: none;
    position: relative;
    left: 80%;
    top: 160%;

}

.menuBar li{
    margin-left:60px;
    color :darkgray;
    float: left;
}

.menuBar a{
    color :darkgray;
    text-decoration-line: none;
}

.menuBar a:hover{
    color : black;
}

.userBar{
    list-style: none;
    display: flex;
    font-size: 1em;
    font-style: arial;
    font-weight: bold;
    margin-left: 350px;
    margin-top: 10px;


}

.userBar li{
    margin-left: 50px;
    color :darkgray;
}

.userBar a{
    color :darkgray;
    text-decoration-line: none;
}

.userBar a:hover{
    color : black;
}
/* 헤더끝*/