body {
	width: 700px;
	margin : auto;
}


.cancel {
    background-color: #E97486;
    border: none;
    border-radius: 5px;
    padding-left : 20px;
    padding-right : 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 700;
    font-size: medium;
    color: white;

}

.pause {
    background-color: #E97486;
    border: none;
    border-radius: 5px;
    padding-left : 20px;
    padding-right : 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 700;
    font-size: medium;
    color: white;

}

.stopwatch {
    margin: auto;
}

#stopwatch-button {
    margin:auto;    
}

#stopwatch-form {
	width: 640px;
	height: 250px;
	border: 3px solid #E97486;
	border-radius: 30px;
	padding: 30px;
	color: #E97486;
	text-align : center;
	font-size: 100px;
	line-height: 220px;
}

#start-btn{
	background-color: #E97486;
    border: none;
    border-radius: 5px;
    padding-left : 20px;
    padding-right : 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 700;
    font-size: medium;
    color: white;
    max-height: 40px;
	float : left;
	margin-top: 25px;
	margin-right: 20px;
}

#pause-btn{
	background-color: #E97486;
    border: none;
    border-radius: 5px;
    padding-left : 20px;
    padding-right : 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 700;
    font-size: medium;
    color: white;
    max-height: 40px;
	float : left;
	margin-top: 25px;
}

#save {
	background-color: #E97486;
    border: none;
    border-radius: 5px;
    padding-left : 20px;
    padding-right : 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 700;
    font-size: medium;
    color: white;
    max-height: 40px;
	float : right;
	margin-top: 25px;
}