html{
    font-size: 100%;
    
}

.main{
    display: flex;
    background-color:#E97486; /*너비 체크용. 확인만 하시고 작업시 지워주세요*/
    width: 1200px;
    margin: 0 auto;
}

.page-header{
    display: flex;
    
}

body {
    width: 1200px;
    margin:auto;
}
.HOME{

}

.logo{
    display: flex;
    position:absolute;
    
}

.menuBar{
    list-style: none;
    position: relative;
    left: 80%;
    top: 160%;

}

.menuBar li{
    margin-left:60px;
    color :darkgray;
    float: left;
}

.menuBar a{
    color :darkgray;
    text-decoration-line: none;
}

.menuBar a:hover{
    color : black;
}

.userBar{
    list-style: none;
    display: flex;
    font-size: 1em;
    font-style: arial;
    font-weight: bold;
    margin-left: 350px;
    margin-top: 10px;


}

.userBar li{
    margin-left: 50px;
    color :darkgray;
}

.userBar a{
    color :darkgray;
    text-decoration-line: none;
}

.userBar a:hover{
    color : black;
}


/* 관리자용 헤더 */
.menuBarAdmin{
    list-style: none;
    position: relative;
    left: 50%;
    top: 160%;

}

.menuBarAdmin li{
    margin-left:60px;
    color :darkgray;
    float: left;
}

.menuBarAdmin a{
    color :darkgray;
    text-decoration-line: none;
}

.menuBarAdmin a:hover{
    color : black;
}


.userBarAdmin{
    list-style: none;
    display: flex;
    font-size: 1em;
    font-style: arial;
    font-weight: bold;
    margin-left: 350px;
    margin-top: 10px;


}

.userBarAdmin li{
    margin-left: 50px;
    color :darkgray;
}

.userBarAdmin a{
    color :darkgray;
    text-decoration-line: none;
}

.userBarAdmin a:hover{
    color : black;
}








/* 공지사항 */


.notice_write_button {
    margin:auto;
    margin-left:1060px;
    border:1px solid #E97486;
    display:inline-block;
    color:#ffffff;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    font-style:normal;
    height:35px;
    line-height:30px;
    width:80px;
    text-decoration:none;
    text-align:center;
    padding: 0 10px;
    background-color:#E97486;
    border-radius: 5px;
}
.searchBar{
    margin:auto;
    width: 1200px;
    display: flex;
    margin-top:10px;
    padding: 20px;

    
}
.searchBar input {
    margin:auto;
    display: flex;
    width: 450px;
    height: 50px;
    border: 2px solid rgb(209, 207, 207);
    border-radius: 30px; 
}
.searchBar input::placeholder {
    font-size: 14px;
    text-align: center;
}

.searchIcon {
    margin-top:-55px;
    margin-left:800px;
}

.searchIconTag {
    width: 20px;
}

.notice_title{
    list-style: none;
    font-size: 2.3em;
    width:1200px;
    display: flex;
    margin-top: 150px;
    color: darkgray;
    margin:auto;
    margin-bottom: 20px;
    
}

.notice_category a {
    color :darkgray;
    text-decoration-line: none;
}

.notice_category a:hover{
    color : #E97486;
}

.notice_category{
    list-style: none;
    margin-top: 150px;
    margin-left:25%;
    display: flex;
    font-weight: bold;

}

.notice_category li{
    margin-left: 100px;
}

.notice_list {
    width: 1200px;
    margin:auto;
    text-align: center;
}

.notice_list_body td{
    text-align: center;
    padding:30px 10px 30px 9px; 
    border-bottom-color: #eeeeee;
    border-bottom-width: 1px;
    border-bottom-style: solid;

}


.notice_list_head th{
    text-align: center;
    padding:25px 10px 30px 9px;  
    border-bottom-color: #eeeeee;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

/* 이벤트 */

.event_list{
    float:right;
    margin-right:20px;
}


.event_image_box {
    padding:10px;
    width:380px;
    height:220px;
    overflow:hidden;
}

.event_image_thumbnail {
    width:100%;
    height:100%;
    object-fit:cover;
}

/* 회원관리 리스트 */

.user_list_admin {
    width: 1200px;
    text-align: center;
    
}
.user_list_head {
    background-color: #E97486;

}

/* 회원상세 : 조회 */

.userLookUpAdmin{
    width: 1200px;
    text-align: center;
    margin: 0 auto; /*1200 픽셀에 맞춰 중앙정렬 / display:flex 굳이필요없었음*/
    margin-top:12%;
    font-size: 1.2em;
    font-style: arial;
    font-weight: bold;
    color:#E97486
}

.searchUser{
    padding:10px;
}

.user_list_head{
    color:#eeeeee;
}

.user_list_body td{
    padding:10px;
    border-bottom: #eeeeee 2px solid;

}

#userScore{
    color:goldenrod;
}

/* 문의조회 */

.qnaProgress {
    border:1px solid #E97486;
    display:inline-block;
    color:#ffffff;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    font-style:normal;
    line-height:30px;
    width:80px;
    text-decoration:none;
    text-align:center;
    padding: 0 10px;
    background-color:#E97486;
}

.qnaProgressCompletion {
    border:1px solid #D8D8D8;
    display:inline-block;
    color:#ffffff;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    font-style:normal;
    line-height:30px;
    width:80px;
    text-decoration:none;
    text-align:center;
    padding: 0 10px;
    background-color:#D8D8D8;
}

.admin_QnA_list {
    width: 1200px;
    margin:auto;
    margin-top:70px;
    text-align: center;
}

.admin_QnA_list_body td{
    text-align: center;
    padding:20px 10px 20px 9px; 
    border-bottom-color: #eeeeee;
    border-bottom-width: 1px;
    border-bottom-style: solid;

}

.admin_QnA_list_head th{
    text-align: center;
    padding:25px 10px 30px 9px;  
    border-bottom-color: #eeeeee;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-top: 1px solid rgb(143, 143, 143);;
}


