@charset "UTF-8";
html{
    font-size: 100%;
    
}

.main{
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

.page-header{
    display: flex;
    
}

body {
    width: 1200px;
    margin:auto;
}
.HOME{

}

.logo{
    display: flex;
    position:absolute;
    
}

.menuBarAdmin{
    list-style: none;
    position: relative;
    left: 50%;
    top: 160%;

}

.menuBarAdmin li{
    margin-left:60px;
    color :darkgray;
    float: left;
}

.menuBarAdmin a{
    color :darkgray;
    text-decoration-line: none;
}

.menuBarAdmin a:hover{
    color : black;
}


.userBarAdmin{
    list-style: none;
    display: flex;
    font-size: 1em;
    font-style: arial;
    font-weight: bold;
    margin-left: 350px;
    margin-top: 10px;


}

.userBarAdmin li{
    margin-left: 50px;
    color :darkgray;
}

.userBarAdmin a{
    color :darkgray;
    text-decoration-line: none;
}

.userBarAdmin a:hover{
    color : black;
}



