@charset "UTF-8";


.notice_write_button {
    margin:auto;
    margin-left:1060px;
    border:1px solid #E97486;
    display:inline-block;
    color:#ffffff;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    font-style:normal;
    height:35px;
    line-height:30px;
    width:80px;
    text-decoration:none;
    text-align:center;
    padding: 0 10px;
    background-color:#E97486;
    border-radius: 5px;
}
.searchBar{
    margin:auto;
    width: 1200px;
    display: flex;
    margin-top:10px;
    padding: 20px;

    
}
.searchBar input {
    margin:auto;
    display: flex;
    width: 450px;
    height: 50px;
    border: 2px solid rgb(209, 207, 207);
    border-radius: 30px; 
}
.searchBar input::placeholder {
    font-size: 14px;
    text-align: center;
}

.searchIcon {
    margin-top:-55px;
    margin-left:800px;
}

.searchIconTag {
    width: 20px;
}

.notice_title{
    list-style: none;
    font-size: 2.3em;
    width:1200px;
    display: flex;
    margin-top: 150px;
    color: darkgray;
    margin:auto;
    margin-bottom: 20px;
    
}

.notice_category a {
    color :darkgray;
    text-decoration-line: none;
}

.notice_category a:hover{
    color : #E97486;
}

.notice_category{
    list-style: none;
    margin-top: 150px;
    margin-left:25%;
    display: flex;
    font-weight: bold;

}

.notice_category li{
    margin-left: 100px;
}

.notice_list {
    width: 1200px;
    margin:auto;
    text-align: center;
}

.notice_list_body td{
    text-align: center;
    padding:30px 10px 30px 9px; 
    border-bottom-color: #eeeeee;
    border-bottom-width: 1px;
    border-bottom-style: solid;

}


.notice_list_head th{
    text-align: center;
    padding:25px 10px 30px 9px;  
    border-bottom-color: #eeeeee;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}