/* 게시글 상세보기 */
.study_title{
    
    align-content: center;
    display: flex;
    margin-top: 150px;
    color: #E97486;
}

.detail_table{

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 1200px;
    border-top: 1px solid #cfcfcf;
    border-left: 1px solid #cfcfcf;
    border-right: 1px solid #cfcfcf;

}

.detail_table .detail_category{
    font-size: 14px;
    padding-left: 50px;
    padding-top: 50px;
    color: #E97486;
}

.detail_table .detail_title{
    font-size: 17px;
    padding-left: 50px;
    font-weight: bold;
}

.detail_table .detail_info{
    font-size: 14px;
    padding-left: 50px;
    padding-bottom: 30px;
    color: #b4b4b4;
}

.contents_category{
    border-left: 1px solid #cfcfcf;
    border-right: 1px solid #cfcfcf;
    padding-top: 30px;
    width: 1200px;
}

.contents_category .con_info1{
    padding-left: 100px;
    padding-bottom: 20px;
    width: 150px;
    font-weight: bold;
}

.contents_category .con_info2{
    padding-bottom: 20px;
}



.contents_category .con_info3{
    font-weight: bold;
    color: #E97486;
    padding-bottom: 20px;

}

.contents {
    width: 1200px;
    border-bottom: 1px solid #cfcfcf;
    border-left: 1px solid #cfcfcf;
    border-right: 1px solid #cfcfcf;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.contents .con_info4{
    padding: 100px;
}

/* 신청자 목록 */
.study_title2{
    align-content: center;
    display: flex;
    margin-top: 30px;
    color: #E97486;
}

.req_list{
    margin-top: 10px;
    border-radius: 5px;
    width: 1200px;
    border: 1px solid #cfcfcf;
    padding: 50px;
}

.req_list .profile_pt {
    width: 30px;
}

.req_list .profile_nick{
    width: 120px;
    font-size: 14px;
    font-weight: bold;
}

.req_list .profile_id{
    font-size: 14px;
    font-weight: bold;
}


.req_list .profile_grade{
    color: #ffc116;
    font-weight: bold;
    font-size: 20px;
}

/* 버튼 */
.detail_btn{
    margin: 30px;
    justify-content: center;
    display: flex;
}

.con_write_btn{
    display: flex;
    justify-content: right;
}

.con_write_btn .cw_update{
    border:1px solid #E97486;
    display:inline-block;
    color:#ffffff;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    font-style:normal;
    height:40px;
    line-height:30px;
    width:80px;
    text-decoration:none;
    text-align:center;
    margin: 5px 5px 5px 5px;
    background-color:#E97486;
    border-radius: 5px;

}

.con_write_btn .cw_delete{
    border:1px solid #666666;
    display:inline-block;
    color:#ffffff;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    font-style:normal;
    height:40px;
    line-height:30px;
    width:80px;
    text-decoration:none;
    text-align:center;
    margin: 5px 5px 5px 5px;
    background-color:#666666;
    border-radius: 5px;
}

.con_write_btn .cw_list{
    border:1px solid #bdbdbd;
    display:inline-block;
    color:#ffffff;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    font-style:normal;
    height:40px;
    line-height:30px;
    width:80px;
    text-decoration:none;
    text-align:center;
    margin: 5px 5px 5px 5px;
    background-color:#bdbdbd;
    border-radius: 5px;

}

.leader_btn .invite_btn{
    border:1px solid #E97486;
    display:inline-block;
    color:#ffffff;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    font-style:normal;
    height:40px;
    line-height:30px;
    width:130px;
    text-decoration:none;
    text-align:center;
    margin: 5px 5px 5px 5px;
    background-color:#E97486;
    border-radius: 5px;
}

.req_list .leader_ok{
    border:1px solid #E97486;
    display:inline-block;
    color:#ffffff;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    font-style:normal;
    height:40px;
    line-height:30px;
    width:80px;
    text-decoration:none;
    text-align:center;
    margin: 5px 5px 5px 5px;
    background-color:#E97486;
    border-radius: 5px;
}

.req_list .leader_no{
    border:1px solid #a3a3a3;
    display:inline-block;
    color:#ffffff;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    font-style:normal;
    height:40px;
    line-height:30px;
    width:80px;
    text-decoration:none;
    text-align:center;
    margin: 5px 5px 5px 5px;
    background-color:#a3a3a3;
    border-radius: 5px;
}

.req_list .but_td{
    width: 100px;
}

.detail_btn .req_btn{
    border:1px solid #E97486;
    display:inline-block;
    color:#ffffff;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    font-style:normal;
    height:40px;
    line-height:30px;
    width:140px;
    text-decoration:none;
    text-align:center;
    margin: 5px 5px 5px 5px;
    background-color:#E97486;
    border-radius: 5px;
}

.detail_btn .list_btn{
    border:1px solid #a3a3a3;
    display:inline-block;
    color:#ffffff;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    font-style:normal;
    height:40px;
    line-height:30px;
    width:80px;
    text-decoration:none;
    text-align:center;
    margin: 5px 5px 5px 5px;
    background-color:#a3a3a3;
    border-radius: 5px;
}