@charset "UTF-8";

.userLookUpAdmin{
    width: 1200px;
    text-align: center;
    margin: 0 auto; /*1200 픽셀에 맞춰 중앙정렬 / display:flex 굳이필요없었음*/
    margin-top:12%;
    font-size: 1.2em;
    font-style: arial;
    font-weight: bold;
    color:#E97486
}

.qnaProgress {
    border:1px solid #E97486;
    display:inline-block;
    color:#ffffff;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    font-style:normal;
    line-height:30px;
    width:80px;
    text-decoration:none;
    text-align:center;
    padding: 0 10px;
    background-color:#E97486;
}

.qnaProgressCompletion {
    border:1px solid #D8D8D8;
    display:inline-block;
    color:#ffffff;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    font-style:normal;
    line-height:30px;
    width:80px;
    text-decoration:none;
    text-align:center;
    padding: 0 10px;
    background-color:#D8D8D8;
}


.admin_QnA_list {
    width: 1200px;
    margin:auto;
    margin-top:70px;
    text-align: center;
}

.admin_QnA_list_body td{
    text-align: center;
    padding:20px 10px 20px 9px; 
    border-bottom-color: #eeeeee;
    border-bottom-width: 1px;
    border-bottom-style: solid;

}

.admin_QnA_list_head th{
    text-align: center;
    padding:25px 10px 30px 9px;  
    border-bottom-color: #eeeeee;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-top: 1px solid rgb(143, 143, 143);;
}


