<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 찾기</title>
    <link href="../css/login.css" rel="stylesheet" typ="text/css">
</head>
<body>

    <div style="text-align : center">
        <a href="/main">
            <img class="login-img" src="../images/logo.png" alt="HOME">
        </a>
    </div>
    <div class="title-find">
        <tr>비밀번호 찾기</tr>
    </div>
    <div class="login-form">
        <form name="forgotPwd" id="forgotPwd">
           <!--  <input type="text" id="id" name="id" class="text-field" placeholder="이름" autofocus required> -->
            <input type="text" id="userName" name="userName" class="text-field" placeholder="아이디" autofocus required>
            <input type="email" id="userEmail" name="userEmail" class="text-field" placeholder="이메일" required>
           <!--  <input type="button" class="submit-btn" onclick="send_injeung_num();" value="인증번호 발송"><br>
            <input type="text" id="injeung_num" name="injeung_num" class="text-field" placeholder="이메일 인증번호" required> -->
            <input type="submit" value="비밀번호 찾기" class="submit-btn" id="checkEmail">
        </form>
        <div class="links-pwd">
            <a href="forgotId">아이디 찾기</a>
            <a>|</a>
            <a href="login">로그인</a>
            <a>|</a>
            <a href="register">회원가입</a>
        </div>
    </div>
    <script>

    $("#checkEmail").click(function () {
        let userEmail = $("#userEmail").val();
        let userName = $("#userName").val();

        $.ajax({
            type: "GET",
            url: "/check/findPw",
            data: {
                "userEmail": userEmail,
                "userName": userName
            },
            success: function (res) {
                if (res['check']) {
                    swal("발송 완료!", "입력하신 이메일로 임시비밀번호가 발송되었습니다.", "success").then((OK) => {
                        if(OK) {
                            $.ajax({
                                type: "POST",
                                url: "/check/findPw/sendEmail",
                                data: {
                                    "userEmail": userEmail,
                                    "userName": userName
                                }
                            })
                            window.location = "/login";
                        }


                    }
                )
                    $('#checkMsg').html('<p style="color:darkblue"></p>');
                } else {
                    $('#checkMsg').html('<p style="color:red">일치하는 정보가 없습니다.</p>');
                }
            }
        })
    })
    </script>
</body>
</html>