<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>confirm</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/confirm.css}">
</head>
<body>
	<a onclick="location.href='/study/confirm'">인증 게시판</a>
    <a onclick="location.href='/study/studycalendar'">스터디 일정</a>
    <a onclick="location.href='/study/mycalendar'">나의 출석체크</a>

    <h1 align="center">인증 게시판</h1>
    <h5> 자바의 정석 Collection 11-6 ~ 11-12 까지 공부하고 인증하기</h5>

    <button class="confirm" type="submit">인증확인</button>
    <script src="/js/confirm.js"></script>
</body>
</html>